.cat-title{
background: #b2c0e8;
}
#work_area .goods{
    width: 45%;
    margin: 10px;
}
#work_area .ps {width: 50%;float: left;}
#work_area .price{
    position: absolute;
    right: 0;
    background: rgba(158, 158, 158, 0.41);
    min-width: 39px;
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 0 5px;
}
.goods-name {
    color: #7f9bd0;
    cursor: pointer;
}
.goods-name:hover {color: #54b4d0;}
.labelIn {line-height: 38px;}
.gren{color: #1c7430;}
.red{color: #721c24;}